* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: url("../../images/personal.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
section {
  $h1-font-size: 55px;
  background-color: #fff;
  padding: 40px 100px;

  @media (max-width: 768px) {
    padding: 20px 50px;
  }

  color: #303030;
  text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff, 1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
  @include flexCenter;
  flex-direction: column;
  > h2 {
    font-size: 25px;
  }
  > h1 {
    font-size: $h1-font-size;
  }
  ul {
    margin-top: 15px;
    list-style: none;
    @include flexCenter;
    column-gap: 50px;
    li {
      text-align: center;
      h1 {
        font-size: $h1-font-size;
      }
      p {
        font-size: 14px;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  section {
    $h1-font-size: 20px;

    > h2 {
      font-size: 20px;
    }
    > h1 {
      font-size: $h1-font-size;
    }
    ul {
      column-gap: 45px;
      li {
        h1 {
          font-size: $h1-font-size;
        }
        p {
          font-size: 15px;
        }
      }
    }
  }
}
@media screen and (max-width: 425px) {
  section {
    ul {
      column-gap: 30px;
    }
  }
}
